
.icon-cog:before { content: '\e800'; } /* '' */
.icon-hammer:before { content: '\e801'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */